service miweaver_hal_service /system/bin/songyuan-miweaver-wrapper.sh
    class hal
    seclabel u:r:recovery:s0
    user  system
    group system drmrpc
    oneshot
    disabled
    interface aidl vendor.xiaomi.hardware.miauthsecretd.IMIAuthSecret/default
    interface aidl vendor.xiaomi.hardware.miauthsecretd.ICpaceService/default
    interface aidl vendor.xiaomi.hardware.oldcredential.IOldCredentialService/default
